@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: roboto, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Quciksand, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3F4A3C;
}

#logo {
    float: left;
    font-size: 300%;
}

/* nav links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    padding: 4px 4px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    border: 1px solid #fff;
    margin: 0 10px;
}

#menu a:hover {
    border: 10;
    box-shadow: 0 0 6px #e3b448;
}

.active {
    border: 10;
    box-shadow: 0 0 6px #e3b448;
}

/* hero-image and intro*/

#section1 {
    width: 100%;
    margin: 10 0;
}

#hero-image {
    width: 50%;
    height: 500px;
    background: url('../images/Hero-image.jpeg') no-repeat left center;
    overflow: hidden;
    float: left;
    padding-top: 20px;
}

#introduction {
    width: 50%;
    height: 500px;
    float: right;
    padding-top: 20px;
}

/* text properties for home page */

.h2-home {
    line-height: 40px;
    text-align: center;
    padding: 100px 20px 50px;
}

.p-home {
    line-height: 30px;
    text-align: center;
    padding: 0 20px;
}

/* more info section */

#more-information {
    width: 50%;
    height: 500px;
    float: left;
    padding-top: 20px;
}

#boots {
    width: 50%;
    height: 500px;
    background: url('../images/football-boots-hanging.jpeg') no-repeat center center;
    overflow: hidden;
    float: left;
    padding-top: 20px;
}